html {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}


#title {
    background-color: brown;
}

h1 {
    font-weight: 100;
    font-size: 900%;
    color: white;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 200%;
    color: white
}

.dropdown {
    height: 20%;
    width: 30%;
    margin-left: 33%;
    font-weight: 400;
}

.dropdown ul {
    list-style-type: none;
}

.dropdown li a {
    text-decoration: none;
    font-size: 26px;
    color: white;
    display: block;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    transition: background-color 0.2s, color 0.2s;
}

.dropdown li a:link,
.dropdown li a:visited {
    background-color: #3e3ea7;
}

.dropdown li a:hover {
    background-color: #b14040;
}

.dropdown li a:active {
    background-color: #410000;
}

#input {
    width: 90%;
    height: 40px;
    font-size: 25px;
    background-color: black;
    color: white;
    margin-left: 1.5em;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}
